body {
    display: flex;  /* USED TO PUSH FOOTER TO THE BOTTOM */
    flex-direction: column;  /* USED TO PUSH FOOTER TO THE BOTTOM */
    min-height: 100vh;  /* USED TO PUSH FOOTER TO THE BOTTOM */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: black;
    line-height: 1.4;
}
:root {
    --main-color: #459B73;
}
*, ::after, ::before {
    box-sizing: border-box;
}
a {
    color: black;
    text-decoration: none;
}
p {
    font-size: 16px;
    margin: 0 0 1em;
}
h1, h2, h3, h4, h5 {
    margin: 0 0 0.5rem;
    line-height: 1.2;
}
img {
    max-width: 100%;
}
button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.unselectable {
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}


/* ------------ Main ------------ */
.main {
    display: flex;
    flex-grow: 1; /* USED TO PUSH FOOTER TO THE BOTTOM */
    width: 100%;
    padding: 40px 0;
}
.main-container {
    max-width: 1560px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
}
.logo {
    display: flex;
}
.logo__image {
    width: 170px;
}
.main-title {
    font-family: 'Cuprum', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 32px;
}
.secondary-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    line-height: 1;
}
.button {
    border-radius: 6px;
    padding: 8px 36px;
    font-weight: 400;
    line-height: 1;
    transition: all 0.5s ease 0s;
}
.button--main {
    background-color: var(--main-color);
    color: rgb(249, 250, 252);
    border: 1px solid var(--main-color);
    box-shadow: 0 4px 16px rgb(0 0 0 / 25%);
}
.button--main:hover {
    background-color: white;
    color: var(--main-color);
    border-color: var(--main-color);
}
.button--transparent {
    background-color: transparent;
    color: black;
    padding: 0;
    border: none;
}
/* ------------ /end Main ------------ */


/* ------------ Header ------------ */
.header {
    background-color: white;
}
.header__inner {

}
/* ------------ /end Header ------------ */


/* ------------ Footer ------------ */
.footer {
    background-color: white;
}
.footer__inner {

}
/* ------------ /end Footer ------------ */

/* ------------ Aside ------------ */
/* Aside text */
.aside {
    min-width: 360px;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.aside-text {
    padding: 32px 32px 20px;
}
.aside-text__title {
    margin-bottom: 28px;
}
.aside-text__body {
    font-size: 16px;
    color: #1D1D1D;
    font-weight: 500;
}


/* ------------ Selectize ------------ */
.selectize-singular, .selectize-singular-taggable, .selectize-multiple , .selectize-multiple-taggable {
    width: 100%;
    display: flex;
}
.selectize-input {
    background-color: #EBF3F0 !important;
    border: none;
    padding: 14px;
    border-radius: 8px;
}
.selectize-input.focus {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);
}
.selectize-input.input-active {
    background-color: #EBF3F0 !important;
}
.selectize-dropdown .option {
    padding: 10px 14px;
    font-size: 14px;
}
.selectize-dropdown .create {
    padding: 10px 14px;
    font-size: 14px;
}
.selectize-control.multi .selectize-input>div {
    margin: 0 4px 4px 0;
    padding: 4px 8px;
    background: #fff4c6;
    color: var(--text-color);
    border-radius: 8px;
}
/* ------------ /end Selectize ------------ */