body {
    display: flex;  /* USED TO PUSH FOOTER TO THE BOTTOM */
    flex-direction: column;  /* USED TO PUSH FOOTER TO THE BOTTOM */
    min-height: 100vh;  /* USED TO PUSH FOOTER TO THE BOTTOM */
    font-family: 'Raleway', sans-serif;
    background-size: cover;
    margin: 0;
    color: var(--text-color);
    line-height: 1.4;
}
:root {
    --main-color: #459B73;
    --secondary-color: #F4D03F;
    --text-color: #4D4D4D;
    --theme-border-radius: 16px;
    --theme-box-shadow: 0 3px 6px rgb(0 0 0 / 12%); 
}
*, ::after, ::before {
    box-sizing: border-box;
}
a {
    color: #4D4D4D;
    text-decoration: none;
}
p {
    font-size: 16px;
    margin: 0 0 1em;
}
h1, h2, h3, h4, h5 {
    margin: 0 0 0.5rem;
    line-height: 1.2;
}
img {
    max-width: 100%;
}
button {
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
.unselectable {
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

/* ------------ Form & form components ------------ */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.label {
    font-size: 16px;
}

/* Input */
input {
    font-family: 'Raleway', sans-serif;
}
.input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid black;
    color: var(--text-color);
}
.input::placeholder {
    color: var(--text-color);
}
.input--light {
    border-color: white;
    color: white;
}
.input--light::placeholder {
    color: white;
}

/* Textarea */
.textarea {
    font-size: 16px;
    resize: none;
    overflow: hidden;
    min-height: 161px;
    font-family: 'Raleway', sans-serif;
    outline: none;
    background: transparent;
    border: none;
    line-height: 4ch;
    background-image: linear-gradient(transparent, transparent calc(4ch - 1px), #747474 0px);
    background-size: 100% 4ch;
    color: var(--text-color);
}
.textarea--light {
    background-image: linear-gradient(transparent, transparent calc(4ch - 1px), white 0px);
    background-size: 100% 4ch;
    color: white;
}

/* Radio */
.radio-container {
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
}
.radio {
    opacity: 0;
    width: 16px;
    height: 16px;
    margin: 0;
}
.radio-replacer {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    pointer-events: none;
}
.radio-replacer::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: black;
    display: none;
}
.radio:checked + .radio-replacer::after {
    display: block;
}
.radio-label {
    cursor: pointer;
}
.radio-group {
    display: flex;
    gap: 20px;
}

/* Checkbox */
.checkbox-container {
    position: relative;
}
.checkbox {
    opacity: 0;
    width: 16px;
    height: 16px;
    margin: 0;
}
.checkbox-replacer {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    position: absolute;
    background-color: white;
    pointer-events: none;
    top: 0;
    left: 0px;
}
.checkbox-replacer::after {
    content: '';
    display: block;
    width: 0.5em;
    height: 1em;
    border-style: solid;
    border-width: 0 0.2em 0.2em 0;
    border-color: black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 4px;
    bottom: 2px;
    display: none;
}
.checkbox:checked + .checkbox-replacer::after {
    display: block;
}
/* ------------ /end Form & form components ------------ */


/* ------------ Main ------------ */
.main {
    flex-grow: 1; /* USED TO PUSH FOOTER TO THE BOTTOM */
    padding: 32px 40px 60px;
    max-width: 1220px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    gap: 32px;
}
.main__content {
    flex-grow: 1;
    width: calc(100% - 392px);
}
.main-container {
    max-width: 1220px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 40px;
}
.theme-styled-block {
    box-shadow: var(--theme-box-shadow);
    border-radius: var(--theme-border-radius);
    background-color: white;
}
.logo {
    display: flex;
}
.logo__image {
    height: 32px;
}
.main-title {
    color: var(--main-color);
    font-weight: 700;
    font-size: 20px;
}
.button {
    display: flex;
    padding: 8px 24px;
    gap: 8px;
    font-size: 14px;
    border-radius: 8px;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}
.button--main {
    background-color: var(--secondary-color);
    color: black;
    border: none;
    font-weight: bold;
    box-shadow: var(--theme-box-shadow);
}
.button--secondary {
    border: 1px dashed var(--main-color);
    color: var(--main-color);
    padding: 10px 32px;
}
.button--secondary:hover {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: white;
}
.button--transparent {
    background-color: transparent;
    color: var(--text-color);
    padding: 0;
    border: none;
}
/* ------------ /end Main ------------ */


/* ------------ Header ------------ */
.header {
    background-color: white;
}
.header__inner {
    padding-top: 32px;
    padding-bottom: 32px;
    flex-direction: column;
}
.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top__actions {
    display: flex;
    align-items: center;
    gap: 24px;
}
.header-top__register {
    font-weight: 500;
    font-size: 16px;
}
.header-top__login {
    padding: 9px 48px;
}
.header-top__add-quote {
    padding: 10px 24px;
}
.header__bottom {
    display: flex;
    margin-top: 28px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.header-nav__ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
    align-items: center;
}
.header-nav__link {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    border: none;
    background-color: transparent;
}
.header-nav__link.active {
    color: var(--main-color);
    font-weight: bold;
}
.header-nav__link--home {
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
}
.header-nav__link--home span {
    font-size: 20px;
}
.header-nav__link--home.active {
    border-color: var(--main-color);
}

/* ------------ /end Header ------------ */


/* ------------ Footer ------------ */
.footer {
    background-color: white;
}
.footer__inner {
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: space-between;
    gap: 40px;
}
.footer__block p {
    font-weight: 500;
    margin-bottom: 0px;
}
.footer__socials {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    text-align: right;
}
.footer__socials-container {
    display: flex;
    gap: 6px;
}
.footer__socials-link {
    display: flex;
    border-radius: 50%;
    background: var(--main-color);
    padding: 12px;
    box-shadow: var(--theme-box-shadow);
    transition: 0.3s;
}
.footer__socials-link svg {
    width: 18px;
    fill: white;
}
.footer__socials-link svg * {
    fill: white;
}
/* ------------ /end Footer ------------ */


/* ------------ Search ------------ */
.search {
    position: relative;
    width: 500px;
}
.search__input {
    background-color: #F2F2F2;
    padding: 13px 40px 13px 24px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
}
.search--active .search__input {
    background-color: var(--main-color);
    color: white;
}
.search--active .search__input::placeholder {
    color: white;
}
.search__input:focus {
    outline: none;
}
.search__button {
    position: absolute;
    color: #A6A6A6;
    right: 0;
    top: 10px;
    border: none;
    padding: 0 12px;
    background-color: transparent;
}
.search--active .search__button {
    color: white;
}
.search__button__icon {
    font-size: 22px;
}
/* ------------ /end Search ------------ */


/* ------------ Aside ------------ */
/* Aside text */
.aside {
    min-width: 360px;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.aside-text {
    padding: 32px 32px 20px;
}
.aside-text__title {
    margin-bottom: 28px;
}
.aside-text__body {
    font-size: 16px;
    color: #1D1D1D;
    font-weight: 500;
}

/* Aside Categories */
.aside-categories {
    padding: 32px;
}
.aside-categories__title {
    margin-bottom: 20px;
}
.aside__search {
    width: 100%;
}
.aside__search .search__button {
    pointer-events: none;
}
.aside-categories__list {
    padding: 0 0 0 24px;
    list-style: none;
    margin: 20px 0 0;
    direction: rtl;
    overflow-y: auto;
    height: 228px;
    display: flex;
    flex-direction: column;
}
.aside-categories__item {
    text-align: left;
    line-height: 1.6;
}
.aside-categories__list::-webkit-scrollbar {
    width: 1px;
}
.aside-categories__list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}
.aside-categories__list::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    outline: 1px solid var(--secondary-color);
}

/* Aside Popular Categories */
.aside-popular-categories {
    padding: 32px 32px 40px;
}
.aside-popular-categories__title {
    margin-bottom: 20px;
}
.aside-popular-categories__text {
    margin-bottom: 28px;
}
.categories-card-list {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.category-card {
    display: flex;
    flex-direction: column;
}
.category-card__image {
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    object-fit: cover;
}
.category-card__title {
    margin: 0;
    background: #EBF3F0;
    text-align: center;
    padding: 16px 12px;
    font-size: 16px;
    font-weight: 500;
}

.aside .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more {
    width: 17px;
}
/* ------------ /end Aside ------------ */


/* ------------ Terms ------------ */
.terms {
    display: flex;
    gap: 12px;
}
.terms__divider {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.terms__label {
    color: black;
    cursor: pointer;
    width: max-content;
    line-height: 1;
}
.terms__link {
    color: var(--main-color);
}
/* ------------ /end Terms ------------ */


/* ------------ Home carousel ------------ */
.carousel-section {
    overflow: hidden;
    padding-top: 32px;
}
.carousel-section__title {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-bottom: -20px;
    z-index: 2;
    position: relative;
}
.carousel-section__counter {
    background: #EBF3F0;
    padding: 7px 32px;
    border-radius: 8px;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.owl-carousel-container {
    position: relative;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    font-size: 14px;
    box-shadow: var(--theme-box-shadow);
    border-radius: 50%;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 60px;
    left: 20px;
    z-index: 2;
    background: #EBF3F0;;
    font-weight: 900;
    cursor: pointer;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.owl-carousel .owl-nav button.owl-next {
    right: 28px;
    left: auto;
}
.owl-carousel .owl-nav button.owl-prev {
    left: 28px;
    right: auto;
}
.owl-nav button span {
    font-size: 16px;
}
.owl-carousel .card__categories-item {
    display: none;
}
.owl-carousel .card__categories-item:first-child, .owl-carousel .card__categories-item:nth-child(2), .owl-carousel .card__categories-item:nth-child(3) {
    display: block;
}
/* ------------ /end Home carousel ------------ */


/* ------------ Card ------------ */
.card {
    padding: 44px 100px;
    position: relative;
}
.card__inner {
    margin: auto;
}
.card__header {
    position: relative;
    display: flex;
    gap: 20px;
}
.card__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    width: max-content;
}
.card__edit-btn {
    position: absolute;
    right: -160px;
    top: 10px;
    color: black;
}
.card__edit-btn-icon {
    font-size: 20px;
    margin-bottom: 6px;
}
.card__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.card__categories-link {
    color: #A6A6A6;
}
.card__image {
    border-radius: 8px;
    display: none !important;
}
.card__body {
    margin: 20px 0 16px;
    display: flex;
    gap: 32px;
}
.card__body-text {
    margin: 0;
}
.card__body-link {
    display: none;
    width: max-content;
    margin-top: 20px;
    font-weight: 500;
}
.card__footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.card__actions {
    display: flex;
    gap: 20px;
}
.card__actions-button {
    background-color: transparent;
    color: var(--main-color);
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
}
.card__actions-like-icon, .card__actions-favorite-icon {
    color: var(--secondary-color);
    font-size: 18px;
}
.card__actions-like-counter {
    color: var(--secondary-color);
}
.card__publication {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px 12px;
}
.card__publication-date {
    color: #A6A6A6;
    font-weight: 500;
    margin: 0;
    font-family: sans-serif;
}
.card__publication-text {
    color: #A6A6A6;
    font-weight: 500;
    margin: 0;
}
.card__publication-user {
    color: var(--main-color);
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
}
.card__publication-user span {
    font-size: 18px;
}
.card__publication-chat {
    color: #A6A6A6;
    display: flex;
    align-items: center;
    gap: 4px;
}
.card__publication-chat span {
    font-size: 18px;
    color: #5e5e5e;
}
.report-bug-button {
    color: #ED1C24;
    padding: 0;
    border: none;
    background: transparent;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
}
.report-bug-button__icon {
    font-size: 28px;
}
.ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more {
    background: transparent !important;
    border: none !important;
    padding: 4px 0 !important;
    border-radius: 0 !important;
    font-family: 'Raleway', sans-serif;
}
.ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more {
    background-image: url('/img/main/share.svg') !important;
}
.ya-share2__item_more .ya-share2__link_more .ya-share2__title {
    color: var(--main-color);
    font-size: 16px;
    visibility: hidden;
    position: relative;
    width: 82px;
}
.ya-share2__item_more .ya-share2__link_more .ya-share2__title::after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 6px;
    content: "Мулохиза";
}

/* Card with MEDIUM image */
.card_with_medium_image .card__image--medium {
    display: block !important;
    width: 144px !important;
    height: 144px;
    object-fit: cover;
}
.card_with_medium_image .card__body-link {
    display: block;
}

/* Card with SMALL image */
.card_with_small_image .card__image--small {
    display: block !important;
    width: 58px !important;
    height: 58px;
    object-fit: cover;
}

/* Vertical Card */
.card--vertical {
    padding: 0;
}
.card--vertical .card__categories {
    flex-direction: column;
    gap: 2px;
}
.card--vertical .card__image--medium {
    display: block !important;
    width: 100% !important;
    height: auto;
}
.card--vertical .card__body {
    flex-direction: column;
    gap: 20px;
}
.card--vertical .card__body-link {
    display: none;
}
.card--vertical .card__footer {
    gap: 12px;
}
.card--vertical .card__actions {
    flex-direction: column;
    gap: 2px;
}
.card--vertical .card__actions-button {
    width: max-content;
}
.card--vertical .card__publication-text {
    order: 1;
}
.card--vertical .card__publication-user {
    order: 2;
}
.card--vertical .card__publication-date {
    order: 3;
}
.card--vertical .card__publication-chat {
    order: 4;
}
.card--vertical .report-bug-button {
    bottom: -16px;
    right: -16px;
}

/* Full Width card */
.card--full_width .card__inner {
    max-width: 520px;
}

/* Users card */
.users-card__main-title {
    margin-bottom: 32px;
}
.users-card .card__header {
    margin-bottom: 6px;
}
.users-card .card__actions-button span {
    font-size: 18px;
    color: var(--secondary-color);
}
/* ------------ /end Card ------------ */


/* ------------ Home ------------ */
.home-page-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
/* ------------ /end Home ------------ */


/* ------------ Aside cards ------------ */
.aside-popularity {
    padding: 32px;
}
.aside-popularity__title {
    margin-bottom: 28px;
}
/* ------------ /end Aside cards ------------ */


/* ------------ Selectize ------------ */
.selectize-singular, .selectize-singular-taggable, .selectize-multiple , .selectize-multiple-taggable {
    width: 100%;
    display: flex;
}
.selectize-input {
    background-color: #EBF3F0 !important;
    border: none;
    padding: 14px;
    border-radius: 8px;
}
.selectize-input.focus {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);
}
.selectize-input.input-active {
    background-color: #EBF3F0 !important;
}
.selectize-dropdown .option {
    padding: 10px 14px;
    font-size: 14px;
}
.selectize-dropdown .create {
    padding: 10px 14px;
    font-size: 14px;
}
.selectize-control.multi .selectize-input>div {
    margin: 0 4px 4px 0;
    padding: 4px 8px;
    background: #fff4c6;
    color: var(--text-color);
    border-radius: 8px;
}
/* ------------ /end Selectize ------------ */


/* ------------ Categories Filter ------------ */
.categories-filter {
    padding: 32px 32px 40px;
    margin-bottom: 32px;
}
.categories-filter__inner {
    margin: auto;
}
.categories-filter--full_width .categories-filter__inner {
    max-width: 520px;
}

.categories-filter__title {
    margin-bottom: 12px;
}
.categories-filter__search {
    width: 100%;
}
.categories-filter__list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px 12px;
    margin-top: 16px;
}
.categories-filter__checkbox {
    display: none;
}
.categories-filter__label {
    font-style: italic;
    border-bottom: 1px solid #4D4D4D;
    line-height: 1;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}
.categories-filter__checkbox:checked + .categories-filter__label {
    color: var(--main-color);
    font-weight: bold;
    border-color: var(--main-color);   
}
.categories-filter__checkbox--hidden + .categories-filter__label {
    display: none;
}
.categories-filter__button {
    font-style: italic;
    border: none;
    border-bottom: 1px solid #4D4D4D;
    line-height: 1;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    background-color: transparent;
    font-size: 16px;
    color: var(--text-color);
}
.categories-filter__button--active {
    color: var(--main-color);
    font-weight: bold;
    border-color: var(--main-color);   
}
/* ------------ /end Categories Filter ------------ */


/* ------------ Quotes List ------------ */
.quotes-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
/* ------------ /end Quotes List ------------ */


/* ------------ Authors List ------------ */
.authors-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.authors-show-main-card {
    margin-bottom: 32px;
}
/* ------------ /end Authors List ------------ */


/* ------------ Pagination ------------ */
.pagination {
    display: flex;
    gap: 15px;
    padding-left: 0;
    list-style: none;
    margin: 0px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.page-link {
    position: relative;
    display: flex;
    color: black;
    border-radius: 50%;
    background: white;
    line-height: 1;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    box-shadow: var(--theme-box-shadow);
    transition: 0.3s;
}
.page-link:hover {
    z-index: 2;
    background-color: white;
}
.page-link--arrows {
    background: transparent;
    box-shadow: none;
    font-size: 25px;
    color: var(--main-color);
}
.page-link--arrows:hover {
    color: var(--main-color);
    background: transparent;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--main-color);
}
/* ------------ /end Pagination ------------ */


/* ------------ Dropdown ------------ */
.dropdown {
    position: relative;
}
.dropdown__content {
    position: absolute;
    z-index: 5;
    margin-top: 20px;
    display: none;
}
.dropdown--opened .dropdown__content {
    display: block;
}
.dropdown__background {
    position: fixed;
    background-color: #00000080;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}
.dropdown__menu {
    padding: 32px;
    list-style: none;
    margin: 0;
    z-index: 4;
    background: white;
    position: relative;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 200px;
}
/* ------------ /end Dropdown ------------ */


/* ------------ Profile Dropdown ------------ */
.profile-dropdown .dropdown__button {
    display: flex;
    padding: 9px;
    background: #f2f2f2;
    box-shadow: 2px 3px 6px rgb(0 0 0 / 25%);
    border: none;
    border-radius: 50%;
}
.profile-dropdown .dropdown__content {
    left: -40px;
}
.profile-dropdown .dropdown__menu {
    width: max-content;
    gap: 12px;
    max-width: 280px;
}
.profile-dropdown__username {
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 8px;
}
.profile-dropdown .dropdown__item {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-dropdown .dropdown__item-icon {
    font-size: 18px;
    margin-top: -2px;
}
.profile-dropdown .dropdown__item--logout {
    background: transparent;
    border: none;
    padding: 0;
    color: red;
    margin-top: 16px;
}
.profile-dropdown__badget {
    color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
/* ------------ /end Profile Dropdown ------------ */


/* ------------ Modal ------------ */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: bottom right;
    transition: 0.3s linear;
    opacity: 0;
    transform: translateX(100%);
    overflow-y: auto;
    overflow-x: hidden;
}
.modal--visible {
    opacity: 1;
    transform: translateX(0);
}
.modal-dialog {
    background: #bbbbbb59;
    border-radius: 16px;
    overflow: hidden;
}
.modal-dialog__header {
    background: white;
}
.modal-dialog__header-inner {
    padding: 32px 52px 32px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-dialog__title {
    margin: 0;
    display: flex;
    font-weight: bold;
    color: black;
    font-size: 24px;
}
.modal-dissmiss {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background-color: var(--main-color);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
.modal-dialog__body-inner {
    padding: 20px 80px 32px;
}
.modal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modal-label {
    color: white;
    font-weight: 600;
}
.modal-input {
    padding: 10px 0;
}
.modal-input--error {
    border-color: red;
}
.modal-radio-group {
    color: white;
    gap: 32px;
}
.modal-submit {
    margin-top: 20px;
}
.modal-form-errors {
    color: white;
    margin: 0px 0 -12px;
    padding: 0 0 0 20px;
    font-size: 15px;
}
.modal-form-errors:empty {
    display: none;
}
.modal-terms .terms__link {
    color: white;
}

/* Register modal */
.register-modal-dialog {
    width: 520px;
}

/* Login modal */
.login-modal-dialog {
    width: 520px;
}
.login-modal__additional-actions {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    font-size: 14px;
    gap: 4px;
}
.login-modal__forgot-password {
    color: white;
    background-color: transparent;
    border: none;
    width: max-content;
    padding: 0;
}
.login-modal__register {
    color: var(--secondary-color);
    width: max-content;
}
.login-modal .modal-dialog__body-inner {
    padding: 20px 80px 48px;
}

/* Forgot Password modal */
.forgot-password-modal-dialog {
    max-width: 520px;
    width: 100%;
}
.forgot-password-modal-text {
    color: white;
}

/* Report bug modal */
.report-bug-modal .modal-dialog {
    width: 880px;
}
.report-bug-modal__text {
    color: white;
}
.report-bug-modal__submit {
    width: max-content;
    padding: 14px 120px;
}
/* ------------ /end Modal ------------ */


/* ------------ Email Verification ------------ */
.email-verification-block {
    padding: 32px;
}
.email-verification-text {
    margin-bottom: 0;
}
.email-verification-text a {
    color: var(--main-color);
    text-decoration: underline;
    font-weight: 500;
}
.email-verification-actions {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.email-verification-resend {
    padding: 14px 24px;
}
.email-verification-logout {
    padding: 14px 24px;
    background: var(--main-color);
    color: white;
    border: none;
}
/* ------------ /end Email Verification ------------ */


/* ------------ Password Reset ------------ */
.password-reset-block {
    padding: 32px;
}
.password-reset-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.password-reset__label {
    font-size: 13px;
    font-weight: 600;
}
.password-reset__input {
    padding: 10px 12px;
    border: 1px solid #cfcfcf;
    outline: none;
    border-radius: 8px;
}
.password-reset__input--error {
    border-color: red;
}
.password-reset-submit {
    width: max-content;
    padding: 9px 32px;
    margin-top: 16px;
}
.password-reset__error-text {
    margin: 0;
}
/* ------------ /end Password Reset ------------ */


/* ------------ Spinner ------------ */
.spinner {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffba;
    display: none;
}
.spinner--show {
    display: flex;
}
.spinner__icon {
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--secondary-color);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* ------------ /end Spinner ------------ */


/* ------------ Users show page ------------ */
.users-card-section__inner {
    padding: 40px 200px;
}
.users-card-section__title {
    margin-bottom: 40px;
}
/* ------------ /end Users show page ------------ */


/* ------------ Search page ------------ */
.search-quotes-section {
    margin-top: 32px;
}
.highlighted {
    background-color: var(--main-color);
    color: white;
}
.search-page-content .card__title {
    text-transform: capitalize;
}
/* ------------ /end Search page ------------ */


/* ------------ Empty query Warning ------------ */
.empty-query-warning {
    padding: 32px;
}
.empty-query-warning__inner {
    margin: auto;
}
.favorite-authors-page-content .empty-query-warning__inner {
    max-width: 520px;
}
.favorite-quotes-page-content .empty-query-warning__inner {
    max-width: 520px;
}
.users-quotes-page-content .empty-query-warning__inner {
    max-width: 520px;
}
/* ------------ /end Empty Query Warning ------------ */


/* ------------ Main Form ------------ */
.main-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 500px;
    margin: auto;
    padding: 40px 32px;
}
.main-form__title {
    margin-bottom: -4px;
}
.main-form__title--indented {
    margin-bottom: 12px;
}
.main-form__divider {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.main-form__group {
    display: flex;
    flex-direction: column;
}
.main-form__group--borderless {
    border: none;
}
.main-form__group--columned {
    flex-direction: column;
}
.main-form__group-select-container {
    margin-top: 6px;
}
.main-form__input {
    flex-grow: 1;
    outline: none;
    font-size: 16px;
    padding: 8px 0;
}
.main-form__input::placeholder {
    color: #A6A6A6;
}
.main-form__submit {
    padding: 14px 100px;
    width: max-content;
    margin-top: 8px;
}
.main-form-terms .checkbox-replacer {
    background-color: #e7e7e7;
}
.main-form__textarea {
    width: 100%;
}
.main-form__error {
    color: red;
    font-size: 14px;
}

/* Main Forms Editable Block */
.main-form__editable-block {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 6px 0;
    align-items: center;
}
.main-form__editable-block--error {
    border-bottom: 1px solid red;
}
.main-form__editable-block--columned {
    flex-direction: column;
    border: none;
}
.main-form__editable-block-input {
    border: none;
    padding: 4px 0;
    flex-grow: 1;
    outline: none;
    font-size: 16px;
}
.main-form__editable-block-button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    padding: 0;
}
.main-form__editable-block-button span {
    font-size: 20px;
}
.main-form__editable-block--columned .main-form__editable-block-button {
    margin: 20px 0 0 auto;
}
/* ------------ /end Main Form ------------ */


/* ------------ Profile Form ------------ */
.profile-form__image-group {
    display: flex;
    justify-content: space-between;
}
.profile-form__image-group-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}
.profile-form__image-group-input {
    visibility: hidden;
    width: 0;
    height: 0;
}
.profile-form__image-group-actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
}
.profile-form__image-group-label {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
}
.profile-form__image-group-label span {
    font-size: 20px;
}
.profile-form__image-group-remove-btn {
    background: transparent;
    border: none;
    color: red;
    padding: 0;
    font-size: 16px;
}
/* ------------ /end Profile Form ------------ */


/* ------------ Alert ------------ */
.alert {
    padding: 12px 20px 16px;
    font-size: 14px;
    border-radius: 8px;
}
.alert--success {
    background: #fff4c6;
    color: #664d03;
}
.alert--warning {
    background: #f8d7da;
    color: #842029;
}
.alert__icon {
    color: var(--main-color);
    transform: translateY(4px);
    margin-right: 2px;
    font-size: 20px;
}
.alert--warning .alert__icon {
    color: #ED1C24;
}
/* ------------ /end Alert ------------ */


/* ------------ Unverified quotes ------------ */
.unverified-quotes-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.unverified-quotes-about__inner {
    max-width: 520px;
    margin: auto;
    padding: 32px 0;
}
.unverified-quotes-about__title {
    margin-bottom: 12px;
}
.unverified-quotes-about__text {
    margin: 0;
}
.unverified-quotes-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.unverified-quotes-card .card__header {
    margin-bottom: 0px;
}
.unverified-quotes-card .card__title {
    margin-bottom: 4px;
}
.unverified-quotes-card .card__body {
    margin: 10px 0 16px;
}
/* ------------ /end Unverified quotes ------------ */


/* ------------ Terms Page ------------ */
.terms-section__inner {
    font-size: 14px;
    padding: 30px 50px 40px;
}
.terms-section__title {
    margin-bottom: 18px;
}
/* ------------ /end Terms Page ------------ */